footer(class="navbar navbar-dark bg-dark shadow-sm footer mt-auto py-3")
    div(class="container")
        div(class="mx-auto" style="color: white")
            span(class="font-weight-bold") &copy; 2020 TeamUsByTruestByheart.

