div(class="level-item column has-text-centered")
    form(method="POST" action="/link")
        div(class="field is-vertical")
            div(class="control has-icons-left")
                input(class="input"
                    type="text"
                    id="link"
                    name="link"
                    placeholder="Paste the link")
                span(class="icon is-small is-left")
                    i(class="fas fa-link")
                // button(class="button is-primary" type="submit") submit link
