extends layout

block content
    include partials/nav
    br
    div( role="main", class="flex-shrink-0")
        div(class="container")
            include partials/input
            if data
                div(class="album py-5 bg-light mt-2")
                    div(class="container")
                        div(class="row")
                            if data.img_url
                                include partials/single
                            else if data.post_data
                                include partials/multiple
                            else
                                include partials/video
    include partials/footer
